# We use slf4j.
lombok.log.apacheCommons.flagUsage=error
lombok.log.log4j.flagUsage=error
lombok.log.log4j2.flagUsage=error
lombok.log.xslf4j.flagUsage=error

# Do not use following silly annotations.
lombok.sneakyThrows.flagUsage=warning
lombok.val.flagUsage=warning

# workaround for https://github.com/FasterXML/jackson-databind/issues/1122
# @ConstructorProperties conflicts with the field, that has @JsonProperty.
lombok.anyConstructor.suppressConstructorProperties = true
